@font-face {
    font-family: 'Hind Siliguri Bold';
    src: url('../fonts/HindSiliguri-Bold.eot');
    src: url('../fonts/HindSiliguri-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HindSiliguri-Bold.woff2') format('woff2'),
        url('../fonts/HindSiliguri-Bold.woff') format('woff'),
        url('../fonts/HindSiliguri-Bold.ttf') format('truetype'),
        url('../fonts/HindSiliguri-Bold.svg#HindSiliguri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Medium';
    src: url('../fonts/HindSiliguri-Medium.eot');
    src: url('../fonts/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HindSiliguri-Medium.woff2') format('woff2'),
        url('../fonts/HindSiliguri-Medium.woff') format('woff'),
        url('../fonts/HindSiliguri-Medium.ttf') format('truetype'),
        url('../fonts/HindSiliguri-Medium.svg#HindSiliguri-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Regular';
    src: url('../fonts/HindSiliguri-Regular.eot');
    src: url('../fonts/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HindSiliguri-Regular.woff2') format('woff2'),
        url('../fonts/HindSiliguri-Regular.woff') format('woff'),
        url('../fonts/HindSiliguri-Regular.ttf') format('truetype'),
        url('../fonts/HindSiliguri-Regular.svg#HindSiliguri-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}