.allResults {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.resultContainer {
    width: 700px;
}

h3 {
    font-family: 'Hind Siliguri Bold', sans-serif;
}

.pageNumber {
    display: flex;
    flex-direction: row;
}

.resultSnippet {
    font-family: 'Hind Siliguri Regular', sans-serif;
}