.allResults {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.resultContainer {
    width: 700px;
}

h3 {
    font-family: 'Hind Siliguri Bold', sans-serif;
}

.pageNumber {
    display: flex;
    flex-direction: row;
}

.resultSnippet {
    font-family: 'Hind Siliguri Regular', sans-serif;
}

h3 {
    margin-top: 0;
}

hr {
    align-self: center;
    width: 700px;
    background-color: #628096;
    height: 1.5px;
    border: none;
    margin-bottom: 0;
}