.allResults {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.resultContainer {
    width: 700px;
}

.pageNumber {
    display: flex;
    flex-direction: row;
}

.resultSnippet {
    font-family: 'Hind Siliguri Regular', sans-serif;
}

.resultContainerTitle {
    font-family: 'Hind Siliguri Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    
}

hr {
    align-self: center;
    width: 700px;
    background-color: #628096;
    height: 1.5px;
    border: none;
    margin-bottom: 0;
}