@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

header {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.heading {
    font-size: 70px;
    font-family: 'Hind Siliguri', sans-serif;
}
